.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #F2F2F2;
  /* parameters for the header section */
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__cell {
  width: 250px;
  margin-bottom: 60px;
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 64px;
}

.logo_place_header {
  position: absolute;
  margin-top: 30px;
  height: 31px;
  width: 154px;
  z-index: 1;
  background-image: url(../images/logo_place_header.png);
}

.logo_place_footer {
  margin-top: 0;
  align-self: flex-start;
  height: 35px;
  width: 183px;
  margin: 0;
  background-image: url(../images/logo_place_footer.png);
}

.header__title {
  display: flex;
  position: absolute;
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
  margin-top: 15%;
}

.header__subtitle {
  display: flex;
  position: absolute;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
  left: 64px;
  bottom: 30px;
  width: 388px;
}

.header__link {
  position: absolute;
  bottom: 0px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square {
  position: absolute;
  width: 568px;
  height: 568px;
  background-color: #2F80ED;
  right: 0;
  top: 64px;
}

.description {
  display: flex;
  margin-top: 100px;
  width: 80%;
  margin: 100px auto;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  display: flex;
  width: 175px;
  color: #2F80ED;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
}

.digits {
  margin-top: 100px;
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}

.section-title_theme_dark {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  z-index: 1;
  padding-top: 90px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
}

.section-subtitle_theme_dark {
  z-index: 1;
  position: relative;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  justify-content: space-between;
  list-style: none;
}

.table__cell__p {
  position: relative;
  top: 20px;
  text-align: left;
  line-height: 1.2em;
  font-weight: normal;
}

.table__heading {
 font-size: 24px;
 font-weight: bold;
}

.table__text {
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  margin-top: 40px;
  min-height: 790px;
  position: relative;
  background-color: #F2F2F2;
}

.feynman__background-image {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
}

.feynman__title {
  position: relative;
  top: 100px;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  width: 775px;
  margin-left: 25%;
}

.feynman__subtitle {
  position: relative;
  top: 70px;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 99;
}

.feynman__title_span {
  margin-top: 70px;
}

.feynman__link {
  display: flex;
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 0;
  margin-right: 48px;
  top: 50%;
}

.kaufman {
  background-color: #1F1F1F;
  color: white;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  right: -124px;
  top: 0;
  z-index: 0;
}

.table_theme_dark {
  position: relative;
  z-index: 1;
  padding-bottom: 90px;
}

.table__heading_theme_dark {
  line-height: 1.15em;
}

.table__text{
  font-size: 18px;
  font-weight: normal;
}

.table__text_theme_dark {
  line-height: 1.2em;
}

.footer {
  position: relative;
  background-color: #1F1F1F;
  color: white;
  padding-top: 60px;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
  margin-bottom: 0;
}

.footer__column {
  flex: 1;
  min-height: 350px;
}

.footer__column_content_copyright {
  display: flex;
  justify-content: space-between;
  flex-basis: 711px;
  flex-direction: column;
  align-items: flex-start;
}

.footer__column_content_about {
  width: 20px;
  list-style: none;
  flex-basis: 500px;
}

.footer__column_content_social {
  list-style: none;
  flex-basis: 200px;
}

.footer__author {
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  display: inline;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
}

.footer__column-link {
  top: 20px;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  color: white;
}

.footer__social-icons {
  margin-right: 10px;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  color: white;
}

